<head>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery-1.11.3.js"></script>
</head>

<div style="padding-top: 70px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img alt="{{ user_email }}" class="profile-image img-circle" style="width: 25px; height: 25px" src="{{ avatar_url }}"></a>
            <a class="navbar-brand" href="#">Home</a>
            <a class="btn btn-default navbar-btn pull-right" href="/logout">Sign out</a>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</div>
