{% extends "base.html" %}

{% block content %}
  <!DOCTYPE html>
  <html>
    <head>
      <script type="text/javascript" src="/smoothie.js"></script>
      <script type="text/javascript">
        function setup() {
          createTimeline()
          setMapAndTableRefresher()
        }

        function getMeasurementValue(last_seen, power) {
          if (Math.floor(Date.now() / 1000) - last_seen < MAX_AGE) {
            return (new Date().getTime(), power);
          } else {
            return (new Date().getTime(), -100);
          }
        }

        function createTimeline() {
          SLAVES = {{ slave_ids | safe }};
          MAX_AGE = 5 * 60;
          charts = {};
          macTimeLines = {};
          macColors = {};

          for(var slaves_index = 0; slaves_index < SLAVES.length; slaves_index++) {
            slave_id = SLAVES[slaves_index];
            charts[slave_id] = new SmoothieChart({millisPerPixel:300, minValue:-100, maxValue:0});
            macTimeLines[slave_id] = {};
          }

          setInterval(function() {
            $.getJSON( "/status", function( data ) {
              for(var i = 0; i < data.length; i++) {
                for(var measurement_index = 0; measurement_index < data[i]['measurements'].length; measurement_index++) {
                  slave_id = data[i]['measurements'][measurement_index]['slave_id'];
                  mac = data[i]['mac'];
                  if (!macTimeLines[slave_id].hasOwnProperty(mac)) {
                    macTimeLines[slave_id][mac] = new TimeSeries();
                    if(!macColors.hasOwnProperty(mac)) {
                      macColors[mac] = '#'+(Math.random()*0xFFFFFF<<0).toString(16);
                    }
                    charts[slave_id].addTimeSeries(macTimeLines[slave_id][mac], { strokeStyle: macColors[mac], lineWidth: 4 });
                  }
                  if (Math.floor(Date.now() / 1000) - data[i]['measurements'][measurement_index]['last_seen'] < MAX_AGE) {
                    macTimeLines[slave_id][mac].append(new Date().getTime(), data[i]['measurements'][measurement_index]['power']);
                  } else {
                    macTimeLines[slave_id][mac].append(new Date().getTime(), -100);
                  }
                }
              }
            });
          }, 2500);
        }

        function buildMap() {
          $.get( "/office_map", function( data ) {
            $("#office_map").empty();
            $("#office_map").append(data);
          });
          addMapLocationEventHandler();
        }

        function buildTable() {
          $.getJSON( "/current_locations", function( data ) {
            table = $("#current_locations_table");
            table.empty();
            for(var room in data) {
              var tr = $('<tr>').attr('class', 'location_row');
              var td_room = $('<td>').attr('class', 'location_name').text(room);
              var td_user = $('<td>');
              var ul = $('ul');
              for(var device_index = 0; device_index < data[room].length; device_index++) {
                var device = data[room][device_index];
                var li = $('li');
                var img = $('img').attr('class', 'profile-image img-circle').attr('style', 'width: 25px; height: 25px').attr('src', device['avatar']);
                li.append(img);
                ul.append(li);
                ul.append($('<br>'));
              }
              td_user.append(ul);
              var td_seen = $('td');
              for(var device_index = 0; device_index < data[room].length; device_index++) {
                var device = data[room][device_index];
                td_seen.append(device['most_recent_seen']);
                td_seen.append($('<br>'));
              }
              var td_mac = $('td');
              for(var device_index = 0; device_index < data[room].length; device_index++) {
                var device = data[room][device_index];
                td_mac.append(device['mac']);
                td_mac.append($('<br>'));
              }
              $("#current_locations_table").append(($('<tr>').append(td_room).append(td_user).append(td_seen, td_mac)));
            }
          });
        }

        function buildMapAndTable() {
          buildTable();
          buildMap();
        }

        function setMapAndTableRefresher() {
          buildMapAndTable();
          setInterval(function() {
            buildMapAndTable();
          }, 30*1000);

          for(var slaves_index = 0; slaves_index < SLAVES.length; slaves_index++) {
            slave_id = SLAVES[slaves_index];
            charts[slave_id].streamTo(document.getElementById("chart-" + slave_id), 500);
          }
        }

        function addMapLocationEventHandler() {
          $.getJSON( "/office_mapping.json", function( mapping ) {
            var location_rows = document.getElementsByClassName("location_row");
            for(var i = 0; i < location_rows.length; i++) {
              let location_row = location_rows[i];
              let location_name = location_row.getElementsByClassName("location_name")[0].innerText;
              let svg_id = mapping[location_name];
              location_row.addEventListener('mouseover', function() {
                document.getElementById(svg_id).style.fill = "#349D4A";
                return false;
              });
              location_row.addEventListener('mouseout', function() {
                document.getElementById(svg_id).style.fill = "white";
                return false;
              });
            }
          });
        }
      </script>
    </head>
    <body onload="setup()">
    <center>
      <div id="office_map">
      </div>
      <table class="table">
        <thead>
          <th>
            Location
          </th>
          <th>
            Employee
          </th>
          <th>
            Last seen
          </th>
          <th>
            MAC
          </th>
        </thead>
        <tbody id="current_locations_table">
        </tbody>
      </table>
    </center>
    {% for canvas in canvases %}
      {{ canvas | safe }}
    {% endfor %}
    </body>
  </html>
{% endblock %}
