{% extends "base.html" %}

{% block content %}
  <!DOCTYPE html>
  <html>
    <head>
      <script type="text/javascript" src="/smoothie.js"></script>
      <script type="text/javascript">
        function createTimeline() {
          macTimeLines = {};
          chart = new SmoothieChart({millisPerPixel:300, minValue:-100, maxValue:0});
          setInterval(function() {
            $.getJSON( "/status", function( data ) {
              for(var i=0; i < data.length; i++) {
                if (macTimeLines.hasOwnProperty(data[i]['mac'])) {
                  macTimeLines[data[i]['mac']].append(new Date().getTime(), data[i]['measurements'][0]['power']);
                } else {
                  console.log("add " + data[i]['mac']);
                  macTimeLines[data[i]['mac']] = new TimeSeries();
                  macTimeLines[data[i]['mac']].append(new Date().getTime(), data[i]['measurements'][0]['power']);
                  chart.addTimeSeries(macTimeLines[data[i]['mac']], { strokeStyle: '#'+(Math.random()*0xFFFFFF<<0).toString(16), lineWidth: 4 });
                }
              }
            });
          }, 1000);
          chart.streamTo(document.getElementById("chart"), 500);
        }
      </script>
    </head>
    <body onload="createTimeline()">
    <canvas id="chart" width="1000" height="500"></canvas>
    </body>
  </html>
{% endblock %}
