<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://smoothiecharts.org/smoothie.js"></script>
    <script type="text/javascript">

      var cellphone = new TimeSeries();
      var ipod = new TimeSeries();
      setInterval(function() {
        $.getJSON( "/status", function( data ) {
        c1 = data[0]["measurements"][0]["power"];
        c2 = data[1]["measurements"][0]["power"];
        console.log(c1)
        console.log(c2)
        cellphone.append(new Date().getTime(), c1);
        ipod.append(new Date().getTime(), c2);
        });
      }, 5000);

      function createTimeline() {
        var chart = new SmoothieChart({millisPerPixel:100, minValue:-100, maxValue:0});
        chart.addTimeSeries(cellphone, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
        chart.addTimeSeries(ipod, { strokeStyle: 'rgba(0, 255, 255, 1)', fillStyle: 'rgba(0, 255, 255, 0.2)', lineWidth: 4 });
        chart.streamTo(document.getElementById("chart"), 500);
      }
    </script>
  </head>
  <body onload="createTimeline()">
  <canvas id="chart" width="1000" height="100"></canvas>
  </body>
</html>
