{% extends "base.html" %}

{% block content %}
<center>
<HTML>
<HEAD>
  <script>
    function addButtons() {
      $.getJSON( "/office_mapping.json", function( mapping ) {
        for(let room_name in mapping) {
          let svg_id = mapping[room_name]
          var btn = document.createElement("BUTTON");
          btn.innerHTML = room_name;
          btn.addEventListener('click', function() {
            document.getElementById(svg_id).style.fill="yellow";
            return false;
          });
          document.body.appendChild(btn);
        }
      });
    }
  </script>
</HEAD>
<BODY onload=addButtons()>
{{ office_svg|safe }}
</BODY>
</HTML>
</center>
{% endblock %}
