<table class="table">
  <thead>
  {% for column in headers %}
    <th>
      {{ column }}
    </th>
  {% endfor %}
  </thead>
  <tbody>
    {% for mac in training_json %}
      <tr>
        <td>
        {{mac}}
        </td>
        {% for loc in training_json[mac] %}
          {% if training_json[mac][loc] %}
            <td class="success">
              <center><span class="glyphicon glyphicon-ok"></span></center>
            </td>
          {% else %}
            <td class="danger">
              <center><span class="glyphicon glyphicon-remove"></span></center>
            </td>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
